<ul>
  <li><%= link_to "General Infos", {controller: "general_infos"} %></li>
  <li><%= link_to "Education", {controller: "educations"} %></li>
  <li><%= link_to "Skill Cats", {controller: "skill_categories"} %></li>
  <li><%= link_to "Skills", {controller: "skills"} %></li>
  <li><%= link_to "Experiences", {controller: "experiences"} %></li>
  <li><%= link_to "Exp skills", {controller: "experience_skills"} %></li>
</ul>