<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="photo-header" class="text-center">
        <div id="header_space">

        </div>
        <div id="text-header">
          <h1><%= @general_infos.display_name %></h1>
          <h2 id="header_title"><%= @general_infos.title %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <!-- ABOUT ME -->
      <div class="box" style="font-size: 1.2em;">
        <h2>About Me</h2>
        <p><%= raw @general_infos.about %></p>
      </div>


      <%= render :partial => "experiences", :formats => ["html"] %>

      <%= render :partial => "education", :formats => ["html"] %>

    </div>
    <div class="col-xs-12 col-sm-5">

      <%= render :partial => "contact", :formats => ["html"] %>

      <!-- SKILLS -->
      <% @skills_infos.each do |skills_infos| %>
        <div class="box">
          <h2><%= skills_infos[:category].name %></h2>
          <div class="skills" id="skills_<%= skills_infos[:category].id %>">
            <%= render :partial => "skills",
                       :locals => {skills: skills_infos[:skills_infos].first(@nb_skills_to_show),
                                   total_nb: skills_infos[:skills_infos].count,
                                   nb_skills_to_show: @nb_skills_to_show,
                                    skill_category: skills_infos[:category]} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
