<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="photo-header" class="text-center">
        <div id="header_space">

          <!--<img src="img/avatar.jpg" alt="avatar">-->
          <!--<p>asdfasdf</p>-->
        </div>
        <div id="text-header">
          <h1>Martin Lévesque</h1>
          <h2 id="header_title"><span class="mainly_title">Ruby (on Rails)</span> Software Developer</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <!-- ABOUT ME -->
      <div class="box">
        <h2>About Me</h2>
        <p><%= raw @general_infos.about %></p>
      </div>
      <!-- EDUCATION -->
      <div class="box">
        <h2>Education</h2>
        <ul id="education" class="clearfix">

          <% @educations.each do |education| %>
            <li>
              <div class="year pull-left"><%= education.period_end.year %></div>
              <div class="description pull-right">
                <h3><%= education.title %></h3>
                <p><%= education.description %></p>
              </div>
            </li>
          <% end %>

        </ul>
      </div>
      <!-- EXPERIENCES -->
      <div class="box">
        <h2>Experiences</h2>

        <% @experiences.each do |exp| %>
          <div class="job clearfix">
            <div class="col-xs-3">
              <div class="where"><%= exp.company %></div>
              <div class="year"><%= pretty_date(exp.period_begin) %> - <%= pretty_date(exp.period_end) %></div>
            </div>
            <div class="col-xs-9">
              <div class="profession"><%= exp.title %></div>
              <div class="description">
                <%= raw exp.description %>
                <p>
                  <i>Skills: </i> <%= exp.experience_skills.map { |es| es.skill.name }.join(", ") %>.
                </p>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <!-- CONTACT -->
      <div class="box clearfix">
        <h2>Contact</h2>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
          <div class="title pull-right">LinkedIn</div>
          <div class="description pull-right"><%= link_to @general_infos.linkedin, @general_infos.linkedin %></div>
        </div>
      </div>
      <!-- SKILLS -->
      <div class="box">
        <h2>Skills</h2>
        <div class="skills" id="skills">
          <%= render :partial => "skills", :locals => {skills: @skills_infos.first(@nb_skills_to_show), total_nb: @skills_infos.count, nb_skills_to_show: @nb_skills_to_show} %>
        </div>
      </div>
    </div>
  </div>
</div>
