
<div class="container" >
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <div id="text-header">
          <h1><%= @general_infos.display_name %></h1>
          <h2 id="header_title"><%= @general_infos.title %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-7">

      <%= render :partial => "contact", :formats => ["html"] %>

      <!-- ABOUT ME -->
      <div class="box">
        <h2>About Me</h2>
        <p><%= raw @general_infos.about %></p>
      </div>

      <%= render :partial => "education", :formats => ["html"] %>

      <%= render :partial => "experiences", :formats => ["html"] %>

    </div>
    <div class="col-xs-12 col-sm-5">

      <!-- SKILLS -->
      <div class="box">
        <h2>Skills</h2>
        <div class="skills" id="skills" >
          <%= render :partial => "skills", :formats => [:pdf], :locals => {skills: @skills_infos.first(@nb_skills_to_show), total_nb: @skills_infos.count, nb_skills_to_show: @nb_skills_to_show} %>
        </div>
      </div>

    </div>
  </div>
</div>
